{% extends 'base.html' %}
{% block title %}A Game{% endblock %}
{% block body %}
    <h1>Let's Get Started</h1>
    <form action="/madlib"><label>Enter a person name: </label>
        <input type="text" name="random-person">
        <br>
        <label>Color: </label>
        <select name="fav-color">
            <option value="blue">Blue</option>
            <option value="orange">Orange</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="purple">Purple</option>
        </select>
        <br>
        <label>Enter a noun: </label>
        <input type="text" name="noun">
        <br>
        <label>Enter an adjective: </label>
        <input type="text" name="adjective">
        <br>
        <input type="submit">
    </form>
{% endblock %}