{% extends 'base.html' %}
{% block title %}A Game{% endblock %}
{% block body %}
    <h1>Let's Get Started</h1>
    <form action="/madlib" method="POST"><label>Job: </label>
        <input type="text" name="job">
        <br>
        <label>Adjective: </label>
        <label>Fluffy: </label>
        <input type="checkbox" name="adjective1" value="fluffly">
        <label>Organic: </label>
        <input type="checkbox" name="adjective1" value="organic">
        <label>Fat: </label>
        <input type="checkbox" name="adjective1" value="fat">
        <label>Green</label>
        <input type="checkbox" name="adjective1" value="green">
        <label>Geeky</label>
        <input type="checkbox" name="adjective1" value="Geeky">
        <br>
        <label>Enter a noun: </label>
        <input type="text" name="noun1">
        <br>
        <label>Enter an adjective: </label>
        <input type="text" name="adjective2">
        <br>        
        <label>Enter a noun: </label>
        <input type="text" name="noun2">
        <br>
        <label>Enter an noun: </label>
        <input type="text" name="noun3">
        <br>        
        <label>Enter a noun: </label>
        <input type="text" name="noun4">
        <br>
        <label>Enter a verb: </label>
        <input type="text" name="verb1">
        <br>       
        <label>Enter a verb: </label>
        <input type="text" name="verb2">
        <br>       
        <label>Enter a verb: </label>
        <input type="text" name="verb3">
        <br>
        <input type="submit">
    </form>
{% endblock %}